label {
    font-weight: bold;
}

body{
    background-color: aliceblue;
}

#productlist{
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5em;
}
label{
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}